html{
    background-color: rgb(240, 222, 163);
}
h1{
    text-align: center;
}
#descripcion{
    text-align: center;
}
.titulo{
    font-size: 30px;
}
#personal{
    font-size: 24px;
    font-weight: bold;
}
.subtitulo{
    font-size: 24px;
}
footer{
    text-align: center;
}
.subMenu{
    font-size: 24px;
    text-decoration: none;
}
.blink-bg{
    color: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    animation: blinkingBackground 0.09s infinite;
}
@keyframes blinkingBackground{
    0%		{ background-color: #10c018;}
    25%		{ background-color: #1056c0;}
    50%		{ background-color: #ef0a1a;}
    75%		{ background-color: #254878;}
    100%	{ background-color: #04a1d5;}
}