html{
    background-color: rgb(240, 222, 163);
}

.titulo{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#descripcion{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.subMenu{
    font-size: 24px;
    text-align: center;
}
#subtitulo{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
footer{
    text-align: center;
}